docs/criar-usuario-zuckzapgo-pre-refactor-backup.json
{"updatedAt":"2026-03-25T12:18:46.436Z","createdAt":"2025-09-09T04:49:34.255Z","id":"brmZAsAykq6hSMpL","name":"CRIAR USUARIO ZUCK ZAP GO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Gera token mais complexo sem crypto\nconst prefix = $json.franquia || 'FB';\nconst timestamp = Date.now();\nconst random = Math.random().toString(36).substring(2);\nconst random2 = Math.random().toString(36).substring(2);\nconst shuffled = (random + random2).split('').sort(() => 0.5 - Math.random()).join('');\nconst token = `${prefix}_${timestamp}_${shuffled}`.toUpperCase();\n\nreturn {\n  json: {\n    ...items[0].json,\n    token: token\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,960],"id":"22803bbf-e759-4d60-947a-a36987555d06","name":"Gerar Token Único"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/admin/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.instanceName, token: $json.token, skipGroups: true, skipNewsletters: true, skipBroadcasts: true }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,960],"id":"85897e25-8467-49ad-afd4-bf8f88e08960","name":"Criar Usuário via API","credentials":{"httpHeaderAuth":{"id":"qkmx8MowObdDSH8V","name":"ZuckZapGo Admin Header Auth"}}},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.data.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Subscribe\": [\"All\"],\n  \"Immediate\": false,\n  \"Subscribe\":[\"Message\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,960],"id":"7b1409b6-a598-4fa4-91f6-86239816028b","name":"Conectar WhatsApp"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/qr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('Criar Usuário via API').item.json.data.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,960],"id":"6a7b6d99-894b-4d28-a3e5-a8b80062f967","name":"Obter QR Code"},{"parameters":{"httpMethod":"POST","path":"a9c45ef7-36f7-4a64-ad9e-edadb69a31af","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-576,768],"id":"0d8723e9-fd5b-4ab1-9f71-059cc494f7f2","name":"Webhook","webhookId":"a9c45ef7-36f7-4a64-ad9e-edadb69a31af"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"open\",\n  \"connected\": {{ $json.connected }},\n  \"instanceId\": \"{{ $json.name }}\",\n  \"message\": \"Instância já está conectada!\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1216,384],"id":"daeb4d5e-b0de-4790-8ca9-d53817dc3bcf","name":"Respond to Webhook"},{"parameters":{"url":"https://zuck.dynamicagents.tech/admin/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,768],"id":"01867e0e-8eb7-4d82-8400-975fe87d8077","name":"Lista_usuarios","credentials":{"httpHeaderAuth":{"id":"qkmx8MowObdDSH8V","name":"ZuckZapGo Admin Header Auth"}}},{"parameters":{"jsCode":"// === VERSÃO CORRIGIDA COM TOKEN ===\n\n// Pegar o instanceName do Webhook (primeiro nó)\nconst targetInstanceName = $node[\"Webhook\"].json.body.instanceName;\n// OU se vier direto no body:\n// const targetInstanceName = $node[\"Webhook\"].json.instanceName;\n\n// Pegar o array de instâncias do nó anterior (ZuckZapGo Admin1)\nconst allInstances = $input.first().json.data;\n\n// Debug (opcional)\nconsole.log(\"Nome procurado:\", targetInstanceName);\nconsole.log(\"Total de instâncias:\", allInstances.length);\nconsole.log(\"Primeira instância:\", allInstances[0]?.name);\n\n// Procurar a instância pelo nome\nconst foundInstance = allInstances.find(instance => \n  instance.name === targetInstanceName\n);\n\nreturn {\n  json: {\n    instanceExists: !!foundInstance,\n    instanceName: targetInstanceName,\n    token: foundInstance ? foundInstance.token : null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,768],"id":"3af918c3-3d1f-4219-96d1-6efe4af58d70","name":"confere_existencia","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5f2d265-9043-4ffd-8ece-5962b6aa936f","leftValue":"={{ $json.instanceExists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,768],"id":"e599a776-e0e5-4cd8-87b4-8455781e615a","name":"existe_sim_nao"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,576],"id":"9dba0098-1a66-4329-b2b6-4a6f45a4d402","name":"check_status"},{"parameters":{"jsCode":"// Pegar a resposta completa do check_status\nconst data = $json.data;\n\n// Retornar só os campos desejados\nreturn {\n  json: {\n    connected: data.connected,\n    loggedIn: data.loggedIn,\n    name: data.name || data.info?.name,\n    jid: data.jid || data.info?.jid\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,576],"id":"bd7babe3-e984-41e5-b2f6-e39083d0d56d","name":"confere_existencia1","alwaysOutputData":false},{"parameters":{"jsCode":"// Normaliza a origem: se existir data usa ela, senão usa o próprio root\nconst root = $json ?? {};\nconst data = (root && typeof root === 'object' && root.data && typeof root.data === 'object')\n  ? root.data\n  : root;\n\n// Leitura segura (coerção p/ boolean)\nconst connected = !!data.connected;\nconst loggedIn  = !!data.loggedIn;\nconst qrReady   = !!(data.qr_ready ?? data.qrReady ?? data.qrcode);\n\n// Mapeia para um status único\nlet status = \"connecting\";\nif (connected && loggedIn)        status = \"connected\";\nelse if (!connected && qrReady)   status = \"qr_ready\";\nelse if (!connected && !loggedIn) status = \"disconnected\";\n\nreturn {\n  json: {\n    status,\n    connected,\n    loggedIn,\n    qrReady,\n    name: data.name ?? data.info?.name ?? null,\n    jid:  data.jid  ?? data.info?.jid  ?? null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,576],"id":"827fa2a3-b615-4405-b11e-f895d25a7dee","name":"pre_switch","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"connected","operator":{"type":"string","operation":"equals"},"id":"fe2e3b76-e749-4a57-aaea-f4c957489598"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0efdecf-a414-4bb1-9b3f-2c99a311e496","leftValue":"={{ $json.status }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4da0894-eb47-4c7e-8101-d2d5892c622f","leftValue":"={{ $json.status }}","rightValue":"disconnected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[992,560],"id":"1b9121b2-ce9c-4867-a5c4-f7dc4de85572","name":"Switch"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"qrCode\": \"{{ $json.data.QRCode }}\",\n  \"instanceId\": \"{{ $('Criar Usuário via API').item.json.data.data.id }}\", \n  \"status\": \"pending_qr\",\n  \"message\": \"QR Code gerado\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1216,960],"id":"ce35ce34-d844-49a6-8648-86e2500c425c","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Immediate\": false,\n  \"Subscribe\":[\"Message\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,768],"id":"df20097c-eeeb-4b30-bff5-df47bced632c","name":"Conectar WhatsApp1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"qrCode\": \"{{ $json.data.QRCode }}\",\n  \"instanceId\": \"{{ $('check_status').item.json.data.id }}\", \n  \"status\": \"pending_qr\",\n  \"message\": \"QR Code gerado\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1664,768],"id":"892e47bb-128b-40f9-844d-fc42e11c4039","name":"Respond to Webhook2"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/qr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,768],"id":"f5ccbe38-3f06-4516-9220-16625be62e6d","name":"Obter QR Code1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"qrCode\": \"{{ $json.data.QRCode }}\",\n  \"instanceId\": \"{{ $('check_status').item.json.data.id }}\", \n  \"status\": \"pending_qr\",\n  \"message\": \"QR Code gerado\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1888,576],"id":"95cb3604-2d95-44fd-a96e-12ef40fcb9fc","name":"Respond to Webhook3"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/qr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,576],"id":"b688ed84-0bcb-4825-8ed7-41830c7f0fb6","name":"Obter QR Code2"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/disconnect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,576],"id":"1f0d2497-8a86-4248-89cf-8340db3989bc","name":"Desconecta Whatsapp"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Immediate\": false,\n  \"Subscribe\":[\"Message\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,576],"id":"8cdcc399-0d42-4840-8d0f-16aad44b2963","name":"Conectar WhatsApp2"},{"parameters":{"amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,768],"id":"a6a8238f-e040-4eb7-b280-aa4fdb382979","name":"Aguarda QR Ready","webhookId":"063ecba9-b920-4e23-ab09-901ba7ec6e7c"},{"parameters":{"amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,960],"id":"795487de-f08a-443a-b1cc-068b9dcd6792","name":"Aguarda QR Ready1","webhookId":"fc918b20-6b83-4b82-86dc-0f56f0cceb39"},{"parameters":{"amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,576],"id":"ddfbb302-f1d9-4e20-a173-ada7fb97720f","name":"Aguarda QR Ready2","webhookId":"446fcc80-44df-4465-a53c-e54c77960736"}],"connections":{"Gerar Token Único":{"main":[[{"node":"Criar Usuário via API","type":"main","index":0}]]},"Criar Usuário via API":{"main":[[{"node":"Conectar WhatsApp","type":"main","index":0}]]},"Conectar WhatsApp":{"main":[[{"node":"Aguarda QR Ready1","type":"main","index":0}]]},"Obter QR Code":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Lista_usuarios","type":"main","index":0}]]},"Lista_usuarios":{"main":[[{"node":"confere_existencia","type":"main","index":0}]]},"confere_existencia":{"main":[[{"node":"existe_sim_nao","type":"main","index":0}]]},"existe_sim_nao":{"main":[[{"node":"check_status","type":"main","index":0}],[{"node":"Gerar Token Único","type":"main","index":0}]]},"check_status":{"main":[[{"node":"confere_existencia1","type":"main","index":0}]]},"confere_existencia1":{"main":[[{"node":"pre_switch","type":"main","index":0}]]},"pre_switch":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Desconecta Whatsapp","type":"main","index":0}],[{"node":"Conectar WhatsApp1","type":"main","index":0}]]},"Conectar WhatsApp1":{"main":[[{"node":"Aguarda QR Ready","type":"main","index":0}]]},"Obter QR Code1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Obter QR Code2":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Desconecta Whatsapp":{"main":[[{"node":"Conectar WhatsApp2","type":"main","index":0}]]},"Conectar WhatsApp2":{"main":[[{"node":"Aguarda QR Ready2","type":"main","index":0}]]},"Aguarda QR Ready":{"main":[[{"node":"Obter QR Code1","type":"main","index":0}]]},"Aguarda QR Ready1":{"main":[[{"node":"Obter QR Code","type":"main","index":0}]]},"Aguarda QR Ready2":{"main":[[{"node":"Obter QR Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6dfd532e-0c7b-41de-a691-69ac03ff5f24","activeVersionId":"6dfd532e-0c7b-41de-a691-69ac03ff5f24","versionCounter":73,"triggerCount":1,"shared":[{"updatedAt":"2025-09-09T04:49:34.255Z","createdAt":"2025-09-09T04:49:34.255Z","role":"workflow:owner","workflowId":"brmZAsAykq6hSMpL","projectId":"14ZYH3N47LnG73oJ","project":{"updatedAt":"2025-03-19T19:06:03.621Z","createdAt":"2025-03-19T19:02:07.517Z","id":"14ZYH3N47LnG73oJ","name":"Nelson Pulitano <nelpno@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9ba5f324-f078-4b02-897b-8103a7b152d4"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-25T12:18:46.438Z","createdAt":"2026-03-25T12:18:46.438Z","versionId":"6dfd532e-0c7b-41de-a691-69ac03ff5f24","workflowId":"brmZAsAykq6hSMpL","nodes":[{"parameters":{"jsCode":"// Gera token mais complexo sem crypto\nconst prefix = $json.franquia || 'FB';\nconst timestamp = Date.now();\nconst random = Math.random().toString(36).substring(2);\nconst random2 = Math.random().toString(36).substring(2);\nconst shuffled = (random + random2).split('').sort(() => 0.5 - Math.random()).join('');\nconst token = `${prefix}_${timestamp}_${shuffled}`.toUpperCase();\n\nreturn {\n  json: {\n    ...items[0].json,\n    token: token\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,960],"id":"22803bbf-e759-4d60-947a-a36987555d06","name":"Gerar Token Único"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/admin/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.instanceName, token: $json.token, skipGroups: true, skipNewsletters: true, skipBroadcasts: true }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,960],"id":"85897e25-8467-49ad-afd4-bf8f88e08960","name":"Criar Usuário via API","credentials":{"httpHeaderAuth":{"id":"qkmx8MowObdDSH8V","name":"ZuckZapGo Admin Header Auth"}}},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.data.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Subscribe\": [\"All\"],\n  \"Immediate\": false,\n  \"Subscribe\":[\"Message\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,960],"id":"7b1409b6-a598-4fa4-91f6-86239816028b","name":"Conectar WhatsApp"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/qr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('Criar Usuário via API').item.json.data.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,960],"id":"6a7b6d99-894b-4d28-a3e5-a8b80062f967","name":"Obter QR Code"},{"parameters":{"httpMethod":"POST","path":"a9c45ef7-36f7-4a64-ad9e-edadb69a31af","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-576,768],"id":"0d8723e9-fd5b-4ab1-9f71-059cc494f7f2","name":"Webhook","webhookId":"a9c45ef7-36f7-4a64-ad9e-edadb69a31af"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"open\",\n  \"connected\": {{ $json.connected }},\n  \"instanceId\": \"{{ $json.name }}\",\n  \"message\": \"Instância já está conectada!\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1216,384],"id":"daeb4d5e-b0de-4790-8ca9-d53817dc3bcf","name":"Respond to Webhook"},{"parameters":{"url":"https://zuck.dynamicagents.tech/admin/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,768],"id":"01867e0e-8eb7-4d82-8400-975fe87d8077","name":"Lista_usuarios","credentials":{"httpHeaderAuth":{"id":"qkmx8MowObdDSH8V","name":"ZuckZapGo Admin Header Auth"}}},{"parameters":{"jsCode":"// === VERSÃO CORRIGIDA COM TOKEN ===\n\n// Pegar o instanceName do Webhook (primeiro nó)\nconst targetInstanceName = $node[\"Webhook\"].json.body.instanceName;\n// OU se vier direto no body:\n// const targetInstanceName = $node[\"Webhook\"].json.instanceName;\n\n// Pegar o array de instâncias do nó anterior (ZuckZapGo Admin1)\nconst allInstances = $input.first().json.data;\n\n// Debug (opcional)\nconsole.log(\"Nome procurado:\", targetInstanceName);\nconsole.log(\"Total de instâncias:\", allInstances.length);\nconsole.log(\"Primeira instância:\", allInstances[0]?.name);\n\n// Procurar a instância pelo nome\nconst foundInstance = allInstances.find(instance => \n  instance.name === targetInstanceName\n);\n\nreturn {\n  json: {\n    instanceExists: !!foundInstance,\n    instanceName: targetInstanceName,\n    token: foundInstance ? foundInstance.token : null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,768],"id":"3af918c3-3d1f-4219-96d1-6efe4af58d70","name":"confere_existencia","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5f2d265-9043-4ffd-8ece-5962b6aa936f","leftValue":"={{ $json.instanceExists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,768],"id":"e599a776-e0e5-4cd8-87b4-8455781e615a","name":"existe_sim_nao"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,576],"id":"9dba0098-1a66-4329-b2b6-4a6f45a4d402","name":"check_status"},{"parameters":{"jsCode":"// Pegar a resposta completa do check_status\nconst data = $json.data;\n\n// Retornar só os campos desejados\nreturn {\n  json: {\n    connected: data.connected,\n    loggedIn: data.loggedIn,\n    name: data.name || data.info?.name,\n    jid: data.jid || data.info?.jid\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,576],"id":"bd7babe3-e984-41e5-b2f6-e39083d0d56d","name":"confere_existencia1","alwaysOutputData":false},{"parameters":{"jsCode":"// Normaliza a origem: se existir data usa ela, senão usa o próprio root\nconst root = $json ?? {};\nconst data = (root && typeof root === 'object' && root.data && typeof root.data === 'object')\n  ? root.data\n  : root;\n\n// Leitura segura (coerção p/ boolean)\nconst connected = !!data.connected;\nconst loggedIn  = !!data.loggedIn;\nconst qrReady   = !!(data.qr_ready ?? data.qrReady ?? data.qrcode);\n\n// Mapeia para um status único\nlet status = \"connecting\";\nif (connected && loggedIn)        status = \"connected\";\nelse if (!connected && qrReady)   status = \"qr_ready\";\nelse if (!connected && !loggedIn) status = \"disconnected\";\n\nreturn {\n  json: {\n    status,\n    connected,\n    loggedIn,\n    qrReady,\n    name: data.name ?? data.info?.name ?? null,\n    jid:  data.jid  ?? data.info?.jid  ?? null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,576],"id":"827fa2a3-b615-4405-b11e-f895d25a7dee","name":"pre_switch","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"connected","operator":{"type":"string","operation":"equals"},"id":"fe2e3b76-e749-4a57-aaea-f4c957489598"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0efdecf-a414-4bb1-9b3f-2c99a311e496","leftValue":"={{ $json.status }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4da0894-eb47-4c7e-8101-d2d5892c622f","leftValue":"={{ $json.status }}","rightValue":"disconnected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[992,560],"id":"1b9121b2-ce9c-4867-a5c4-f7dc4de85572","name":"Switch"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"qrCode\": \"{{ $json.data.QRCode }}\",\n  \"instanceId\": \"{{ $('Criar Usuário via API').item.json.data.data.id }}\", \n  \"status\": \"pending_qr\",\n  \"message\": \"QR Code gerado\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1216,960],"id":"ce35ce34-d844-49a6-8648-86e2500c425c","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Immediate\": false,\n  \"Subscribe\":[\"Message\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,768],"id":"df20097c-eeeb-4b30-bff5-df47bced632c","name":"Conectar WhatsApp1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"qrCode\": \"{{ $json.data.QRCode }}\",\n  \"instanceId\": \"{{ $('check_status').item.json.data.id }}\", \n  \"status\": \"pending_qr\",\n  \"message\": \"QR Code gerado\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1664,768],"id":"892e47bb-128b-40f9-844d-fc42e11c4039","name":"Respond to Webhook2"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/qr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,768],"id":"f5ccbe38-3f06-4516-9220-16625be62e6d","name":"Obter QR Code1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"qrCode\": \"{{ $json.data.QRCode }}\",\n  \"instanceId\": \"{{ $('check_status').item.json.data.id }}\", \n  \"status\": \"pending_qr\",\n  \"message\": \"QR Code gerado\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1888,576],"id":"95cb3604-2d95-44fd-a96e-12ef40fcb9fc","name":"Respond to Webhook3"},{"parameters":{"url":"https://zuck.dynamicagents.tech/session/qr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,576],"id":"b688ed84-0bcb-4825-8ed7-41830c7f0fb6","name":"Obter QR Code2"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/disconnect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,576],"id":"1f0d2497-8a86-4248-89cf-8340db3989bc","name":"Desconecta Whatsapp"},{"parameters":{"method":"POST","url":"https://zuck.dynamicagents.tech/session/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('confere_existencia').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Immediate\": false,\n  \"Subscribe\":[\"Message\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,576],"id":"8cdcc399-0d42-4840-8d0f-16aad44b2963","name":"Conectar WhatsApp2"},{"parameters":{"amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,768],"id":"a6a8238f-e040-4eb7-b280-aa4fdb382979","name":"Aguarda QR Ready","webhookId":"063ecba9-b920-4e23-ab09-901ba7ec6e7c"},{"parameters":{"amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,960],"id":"795487de-f08a-443a-b1cc-068b9dcd6792","name":"Aguarda QR Ready1","webhookId":"fc918b20-6b83-4b82-86dc-0f56f0cceb39"},{"parameters":{"amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,576],"id":"ddfbb302-f1d9-4e20-a173-ada7fb97720f","name":"Aguarda QR Ready2","webhookId":"446fcc80-44df-4465-a53c-e54c77960736"}],"connections":{"Gerar Token Único":{"main":[[{"node":"Criar Usuário via API","type":"main","index":0}]]},"Criar Usuário via API":{"main":[[{"node":"Conectar WhatsApp","type":"main","index":0}]]},"Conectar WhatsApp":{"main":[[{"node":"Aguarda QR Ready1","type":"main","index":0}]]},"Obter QR Code":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Lista_usuarios","type":"main","index":0}]]},"Lista_usuarios":{"main":[[{"node":"confere_existencia","type":"main","index":0}]]},"confere_existencia":{"main":[[{"node":"existe_sim_nao","type":"main","index":0}]]},"existe_sim_nao":{"main":[[{"node":"check_status","type":"main","index":0}],[{"node":"Gerar Token Único","type":"main","index":0}]]},"check_status":{"main":[[{"node":"confere_existencia1","type":"main","index":0}]]},"confere_existencia1":{"main":[[{"node":"pre_switch","type":"main","index":0}]]},"pre_switch":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Desconecta Whatsapp","type":"main","index":0}],[{"node":"Conectar WhatsApp1","type":"main","index":0}]]},"Conectar WhatsApp1":{"main":[[{"node":"Aguarda QR Ready","type":"main","index":0}]]},"Obter QR Code1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Obter QR Code2":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Desconecta Whatsapp":{"main":[[{"node":"Conectar WhatsApp2","type":"main","index":0}]]},"Conectar WhatsApp2":{"main":[[{"node":"Aguarda QR Ready2","type":"main","index":0}]]},"Aguarda QR Ready":{"main":[[{"node":"Obter QR Code1","type":"main","index":0}]]},"Aguarda QR Ready1":{"main":[[{"node":"Obter QR Code","type":"main","index":0}]]},"Aguarda QR Ready2":{"main":[[{"node":"Obter QR Code2","type":"main","index":0}]]}},"authors":"Nelson Pulitano","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-25T12:18:46.528Z","id":1228,"workflowId":"brmZAsAykq6hSMpL","versionId":"6dfd532e-0c7b-41de-a691-69ac03ff5f24","event":"deactivated","userId":"9ba5f324-f078-4b02-897b-8103a7b152d4"},{"createdAt":"2026-03-25T12:18:46.555Z","id":1229,"workflowId":"brmZAsAykq6hSMpL","versionId":"6dfd532e-0c7b-41de-a691-69ac03ff5f24","event":"activated","userId":"9ba5f324-f078-4b02-897b-8103a7b152d4"}]}}